@{
    
    ViewData["Title"] = "Home Page";
    Layout="_Layout";
}

<div class="col-xs-12">
		<h1>Ventas</h1>
		<div>
			<a class="btn btn-success" asp-area="" asp-controller="Ventas" asp-action="Create">Nuevo <i class="fa fa-plus"></i></a>
		</div>
<br>
		<section id="main-content center">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Lista de Ventas
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Stock</th>
					<th>Precio</th>
          <th>Descripción</th>
					<th>ID Categoria</th>
					<th>Editar</th>
					<th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
         			<th scope="row"> </th>
                    <th scope="row">sef</th>
                    <th scope="row">fsef</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
					<td scope="row">
						<a  asp-area="" asp-controller="Ventas" asp-action="Editar" 
                              class="btn btn-warning" ><i class="fa fa-edit"></i></a></td>
					<td scope="row"><a class="btn btn-danger" href=""><i class="fa fa-trash"></i></a></td>
				</tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>
	</div>