@{    
    ViewData["Title"] = "Home Page";
    Layout="_Layout";
}
<div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Nuevo producto
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                <a class="fa fa-cog" href="javascript:;"></a>
                                <a class="fa fa-times" href="javascript:;"></a>
                             </span>
                        </header>
                        <div class="panel-body">
                            <div class=" form">
                                <form class="cmxform form-horizontal " id="commentForm" method="get" action="" novalidate="novalidate">
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-3">ID</label>
                                        <div class="col-lg-6">
                                            <input class=" form-control" id="ID" name="ID" minlength="2" type="text" required="">
                                        </div> 
                                    </div>
                                    <div class="form-group ">
                                        <label for="cemail" class="control-label col-lg-3">Nombre</label>
                                        <div class="col-lg-6">
                                            <input class="form-control " id="Nombre" type="text" name="Nombre" required="">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cemail" class="control-label col-lg-3">Precio</label>
                                        <div class="col-lg-6">
                                            <input class="form-control " id="Precio" type="text" name="Precio" required="">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="ccomment" class="control-label col-lg-3">Descripcion</label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control " id="Descripcion" name="Descripcion" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cemail" class="control-label col-lg-3">ID Categoria</label>
                                        <div class="col-lg-6">
                                            <input class="form-control " id="IDCAT" type="text" name="IDCAT" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button class="btn btn-primary" type="submit">Guardar</button>
                                            <button class="btn btn-default" type="button">Cancelar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </section>
                </div>
            </div>