@{
    
    ViewData["Title"] = "Home Page";
    Layout="_Layout";
}

<div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                <center>  <h2 class="title-1">Proyecto de Ventas</h2></center> 
                                
                                </div>
                            </div>
<div class="market-updates">
			
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-1">
					<div class="col-md-4 market-update-right">
						<i class="fa fa-users" ></i>
					</div>
					<div class="col-md-8 market-update-left">
					<h4>Usuarios</h4>
						<h3>1,250</h3>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-3">
					<div class="col-md-4 market-update-right">
						<i class="fa fa-usd"></i>
					</div>
					<div class="col-md-8 market-update-left">
						<h4>Ventas</h4>
						<h3>1,500</h3>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-4">
					<div class="col-md-4 market-update-right">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</div>
					<div class="col-md-8 market-update-left">
						<h4>Compras</h4>
						<h3>1,500</h3>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
		</div>	